#table-wrapper {
  position:relative;
  
}
#table-scroll {
  height:442px;
  overflow:auto;  
  margin-top:20px;
  border-radius: 15px;
}
#table-wrapper table {
  width:100%;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th{
  border: 1px solid #000000;
  padding: 8px;
}

th{
  font-weight: bold;
  text-transform: uppercase;
}

tr:hover{
  color: white;
  background-color: #3AB06F;
}