.listAnalise{
    max-height: 55px;
    background-color: rgb(46, 92, 0);
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 20xp;
    text-align: center;
    width: 250px;
    padding: 8px 8px 8px 8px;
    margin-top: 20px;
}