@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #F5F5F5;
}

/*Configuração usada em todo texto*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

nav{
    display: flex;
    width: 100%;
    background-color: rgba(217,217,217,255);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 10px 150px;
}

.icon{
    position: absolute;
    left: 32px;
    font-size: 21px;
    font-weight: 300;
    color: #000;
    cursor: pointer;
}

.icon img{
    float: left;
    height: 50px;
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li{
    position: relative;
    right: 50px;
    margin: 0 9px 2px 0;
}

nav ol li a{
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 5px 5px;
    background: rgba(58,176,111,255);
    border: 3px solid rgba(58,176,111,255);
    color: #fff;
    font-size: 11px;
    border-radius: 8px;
}
  
/*Mudar a cor do texto nos botões ao passar o cursor por cima*/
nav ol li:hover a{
   color: black;
}

nav .searchbox{
    display: flex;
    margin: auto 100px;
    height: 31px;
    width: 750px;
    padding-left: 50px;
    line-height: 35px;
}

nav .searchbox input{
    border-radius: 10px;
  
    border: none;
    outline: none;
    background: #F5F5F5;
    height: 100%;
    padding: 0 10px;
    font-size: 15px;
    font-style: italic;
    width: 800px;
}