.company-analyzes-filter-section-container {
    position: absolute;
    left: 0;
    background-color: var(--company-left-section-color);
    max-width: 300px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-analyzes-filter-section-container .section-title{
    font-size: 1.5em;
    font-weight: 600;
    text-align: start;
    margin: 50px 0px 40px 0px;
}

.company-analyzes-filter-section-container .filter{
    display: flex;
    gap: 25px;
    border-bottom: 2px var(--company-text-color) solid;
    line-height: 25px;
    padding: 10px 30px;
}

.company-analyzes-filter-section-container .filter-name{
    font-size: 1em;
    max-width: 150px;
    text-align: center;
}

.company-analyzes-filter-section-container .filter-checkbox{
    width: 25px;
    
}

.company-analyzes-filter-section-container .filter-checkbox:checked{
    color: black;
    background-color: red;
}
