.company-confirmation-popup-section{
    margin:0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(129, 126, 126, 0.9);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 7.8%;

}

.company-confirmation-popup-section .popup-container{
    width: 30%;
    height: 35vh;
    min-height: 260px;
    background: #EEEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0px 40px;
    gap:20px;
    position: fixed;
    margin-top: 7%;
    left: 35%;

    z-index: 2;
}

.company-confirmation-popup-section .popup-title{
    color:var(--company-buttons-color);
    font-size: 28px;
    margin:40px 0px 0px 0px ;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.company-confirmation-popup-section .popup-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: justify;
}

.company-confirmation-popup-section .popup-buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.company-confirmation-popup-section .popup-buttons .btn{
    margin-top: 10px;
    color: #fff;
    background-color: var(--company-buttons-color);
    width: 100%;
    line-height: 30px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;

    transition:  0.2s background-color ease-in-out ;
}

.company-confirmation-popup-section .popup-buttons .btn:hover{
    background-color: var(--company-buttons-hover-color);
}

.company-confirmation-popup-section .popup-buttons .btn.cancel{
    background-color: var(--company-decrescent-vector-color);
    transition:  0.2s background-color ease-in-out ;
}

.company-confirmation-popup-section .popup-buttons .btn.cancel:hover{
    background-color: #a33c31;
}