#body{
    display: flex;
    flex-direction: row;
    height: 920px;
}
.btn{
    width: 175px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #3AB06F;
    border-radius: 8px;
    background: #fff;
    margin:20px;
}

#logo{
    width: 178px;
    height: 29px;
    font-size: 20px;
    color: #263238;
    margin:20px;
}

#admBoard{
    width: 220px;
    height: 92.7%;
    margin-top: 76px;
    border-radius: 5px;
    background: #3AB06F;
    display: flex;
    flex-direction: column;
}

#admPhoto{
justify-content: center;
width: 120px;
height: 120px;
background: #b3b3b3;
border-radius: 100px;
margin:10px;
align-self: center;
}

.photo{
    width: 120px;
    border-radius: 100px;
}

#nameAdmArea{
    box-sizing: border-box;
    width: 180px;
    height: 20px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.nameAdm{
    font-size: 15px;
}

#requestListArea{
    margin-top: 110px;
    width: 100%;
    background: white;
}

.requestList{
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    text-align: center;
    margin : 32px
}
.tableBody{
    width: 100%;
    text-align: center;
}
  .table-scroll {
    height:80vh;
    overflow:auto;
    margin-top:20px;
    border-radius: 15px;
  }
  #table-wrapper table {
    width:100%;
  }
  
  table a{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }

  td, th{
    border: 1px solid #000000;
    padding: 8px;
  }