#body{
    display: flex;
    flex-direction: row;
    height: 920px;
}

.btn{
    width: 9vw;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: #3AB06F;
    border-radius: 8px;
    background: #fff;
    margin:20px;
}

#logo{
    width: 178px;
    height: 29px;
    font-size: 20px;
    color: #263238;
    margin:20px;
}

#admBoard{
    width: 11.7vw;
    height: 92.7%;
    margin-top: 4%;
    border-radius: 5px;
    background: #3AB06F;
    display: flex;
    flex-direction: column;
}

#admPhoto{
    justify-content: center;
    width: 120px;
    height: 120px;
    background: #b3b3b3;
    border-radius: 100px;
    margin:10px;
    align-self: center;
}

#nameAdmArea{
    box-sizing: border-box;
    width: 180px;
    height: 20px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
.nameAdm{
    font-size: 15px;
    font-weight: normal;
    margin:0;
}

.tables{
    height: 100vh;
    width: 800px;
    overflow:auto;
}
.tabela{
    margin: 90px;
    width: 958px;
    text-align: center;
}

@media (max-width: 1250px)
{
    .nameAdm{
        font-size: 10px;
    }

    #admPhoto{
        width: 100px;
        height: 100px;
    }
    .btn{
        width: 9vw;
        height: 40px;
    }
    .nameAdm{
        font-size: px;
    }
    
}