  .requestListArea #table-wrapper {
    position:relative;
    
  }
  .requestListArea #table-scroll {
    height:442px;
    overflow:auto;  
    margin-top:20px;
    border-radius: 15px;
  }
  .requestListArea #table-wrapper table {
    width:100%;
  }
  
  .requestListArea table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  .requestListArea td, th{
    border: 1px solid #000000;
    padding: 8px;
  }

  .requestListArea th{
    font-weight: bold;
    text-transform: uppercase;
  }

  .requestListArea tr:hover{
    color: white;
    background-color: #ba3b14;
  }