


.cont{
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    align-items: center;
  }
  .container {
    
    max-width: 100%;
    height: auto;
    width: 40%;
    padding: 25px;
  }
  .container h2 {
    color: white;
  }
  .container header {
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .container form {
    margin-top: 60px;
  }
  form .field {
    margin-bottom: 10px;
  }
  form .input-field {
    position: relative;
    height: 70px;
    width: 100%;
  }
  .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
  }
  .invalid input {
    border-color: #d93025;
  }
  .input-field .show-hide {
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30xpx;
    color: #919191;
    cursor: pointer;
    padding: 3px;
  }
  .field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
  }
  
  .button {
    margin: 25px 0 6px;
  }
  .button input {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input:hover {
    background-color: #0e4bf1;
  }
  