.company-basic-header-container{
    margin: 0px 25px;
    padding: 5px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--company-header-color);
    box-sizing: border-box;
}

.company-basic-header-container .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-basic-header-container .logo .logo-name{
    display: flex;
    color: var(--company-text-color);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    gap: 4px;
    margin-top: 10px;

}

.company-basic-header-container .logo .logo-name div{
    color: var(--company-buttons-color);
}

.company-basic-header-container .logo .logo-img{
    width: 50px;
    height: 50px;
}

.company-basic-header-container .login{
    width: 5em;
    line-height: 1.8em;
    background: var(--company-buttons-color);
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;

    transition:  0.2s background-color ease-in-out ;
}

.company-basic-header-container .login:hover{
    background-color: var(--company-buttons-hover-color);
}

@media screen and (max-width:420px){
    .company-basic-header-container{
        margin: 0 20px;
    }

    .company-basic-header-container .logo{
        gap: 5px;
    }

    .company-basic-header-container .logo .logo-name > div{
        display: none;
        gap: 0px;
        flex-direction: column;
    }

}



