*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  /* body{
    background-color: gray;
  } */
  
  .d-flex {
    background-color: rgb(210, 221, 231);
    border: solid black;
    border-radius: 5px;
    margin-top: 7px;
}



.auto{
  margin: 30px;
  justify-content: center;
  
}
 
 h2{
  
  
  color: black;
 }