.listNoticia{
    max-height: 100px;
    background-color: rgb(107, 107, 107);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top: 20xp;
    text-align: center;
    width: 400px;
    padding: 8px 8px 8px 8px;
    margin-top: 20px;
}