.company-form-section{
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #DADADA;
    height: 100vh;
    min-height: 900px;
    width: 100%;
    gap: min(10%, 150px);
    top: 0%;
    padding-top: 120px;
}

.company-form-section .form-container{
    max-width: 750px;
    height: 700px;
    background: #EEEDED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    gap: 35px;
    box-sizing: border-box;
    align-items: center;
}

.company-form-section .form-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.company-form-section .form-title{
    margin: 40px 0px 0px 0px;
    font-weight: bold;
    font-size: 1.6em;
    color: var(--company-buttons-color);
}

.company-form-section .form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    align-items: center;
    background-color: #eeeded;
}

.company-form-section .form .input{
    width: 80%;
    padding: 0px 20px;
    height: 2.4em;
    font-size: 12px;
    font-weight: 400;
    background: #F5F7F9;
    border: 1px solid #406b3c;
    border-radius: 5px;
}

.company-form-section .form .select.selected{
    padding: 0px 15px;
    height: 2.4em;
    font-size: 12px;
    font-weight: 400;
    background: #F5F7F9;
    border: 1px solid #406b3c;
    border-radius: 5px;
    color: #000;

}

.company-form-section .form .select{
    width: 80%;
    padding: 0px 15px;
    height: 2.4em;
    font-size: 12px;
    font-weight: 400;
    background: #F5F7F9;
    border: 1px solid #406b3c;
    border-radius: 5px;
    color: #757575;
}


.company-form-section .password{
    display: flex;
    gap: 3%;
    justify-content: center;
}

.company-form-section .form input.last{
    box-sizing: border-box;
    width: 38.5%;
}

.company-form-section .confirm{
    max-width:450px;
    width: 80%;
    line-height: 2.4em;
    background: var(--company-buttons-color);
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

    transition:  0.2s background-color ease-in-out ;
}

.company-form-section .confirm:hover{
    background-color: var(--company-buttons-hover-color);
}

.company-form-section .stamp-img{
    width: 200px;
    height: 350px;
    margin-top: 150px;
}


@media screen and (max-width:900px){
    .company-form-section{
        gap: 0;
    }
    .company-form-section .form-container{
        margin: 0px 15px;
    }
    .company-form-section .stamp-img{
        display: none;
    }
}


