.header{
    background-color: var(--header-color);
}

.container{
    margin: 0px 30px 0px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo .logo-name{
    color: var(--text-color);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.logo .logo-name span{
    color: var(--buttons-color);
}

.logo .logo-img{
    width: 50px;
    height: 50px;
}

.login{
    width: 5em;
    line-height: 1.8em;
    background: var(--buttons-color);
    border-radius: 8px;
    color: #ffffff;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;

    transition:  0.2s background-color ease-in-out ;
}

.login:hover{
    background-color: var(--buttons-hover-color);
}



