

.question-and-answer {
  
}

/* Progress Bar */

.progress-container{
  background-color: #D9D9D9;
  width: 100%;
  height: 7.5vh;
  position: fixed;
  z-index: 100;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.progress-container .btns{
  /* margin-top: 20px;
  background-color: rgb(56, 57, 58);
  border-radius: 5px;
  color: white;
  border:none;
  width: 75px;
  height: 50px; */
}


.progress-container .bar {
  width: 75%;
  /* margin-left: 10%; */
}

.progress-container .btns-container {
  /* width: 50%; */
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.progress {
  background-color: #F5F5F5;
  color: #21f33d;
  height: 5vh;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.progress .progress-bar{
  background-color: #1BB55C;;
  color: white;
  font-size: large;
  font-weight: bold;
}


.pop{
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.finish_him {


  justify-content: center;
  align-items: center;
  left: 50vh;
  width: 20vw;
  height: 10vw;
  background-color: #21f33d;
  justify-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.finish-Buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}



.example-warper {
  width: 100%;
  padding: 20px 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px #cfcece dashed;
}



.makeAnalysisButton{
  background-color: #21f33d;
  border: none;
  border-radius: 10px;
  color: gray;
  margin-right: 10px;
}



 .btns{
  /* margin-top: 20px; */
  background-color: #1BB55C;
  border-radius: 15px;
  color: white;
  border:none;
  width: 10%;
  height: 5vh;
  font-weight: bold;
  font-size: large;
}