.question-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
    font-weight: bold;
    font-size: large;
}

.full-question-area{
    --quest-width: 85%;
    max-height: 100%;
    /* background-color: #F0F0F0; */
    border-radius: 20px;
    color:  rgb(0, 0, 0);
    text-align: center;
    width: var(--quest-width);
    /* padding: 8px 8px 8px 8px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    /* position: absolute; */
    z-index: 1;
    
}

/* buttons */

/* .negative-container{

    margin-right: 0;
    margin-left:auto;
    z-index: 0;
    position: absolute;

} */
.negative-btn {
    background-color: #E74C3C;
    color: white;
    font-size: xx-large;
    height: 15vh;
    width: 50%;
    border-radius: 20px;
    border-width: 0px;
    text-align: left;
    position: absolute;
    padding: 15px 15px 15px 15px;
    /* left: 0px; */
    font-weight:bold;
}

/* .positive-container{

    margin-right: 0;
    z-index: 0;
    position: absolute;

} */
.positive-btn {

    background-color: #1BB55C;
    color: white;
    font-size: xx-large;
    height: 15vh;
    width: 50%;
    border-radius: 20px;
    border-width: 0px;
    text-align: right;
    z-index: 0;
    position: absolute;
    padding: 15px 15px 15px 15px;
    right: 0;
    font-weight:bold;
    
    /* right: 0px; */

}

/* containers */

.source-container{
    background-color: #F0F0F0;
    width: 100%;
    /* border: 3px solid; */
    /* border-radius: 10px; */
    /* border-color: rgb(56, 57, 58);
    margin: 0px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.source-container .source-tittle {
    text-align: left;
    margin-left: 5%;
    
}

.justification-container{
    background-color: #F0F0F0;
    width: 100%;
    /* border: 3px solid; */
    /* border-radius: 10px; */
    /* border-color: rgb(56, 57, 58);
    margin: 0px; */
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    
}

.justification-container .just-tittle{
    text-align: left;
    margin-left: 5%;
}

.text-and-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.justi-src-container {
    width: 100%;
    overflow: hidden;
}

/* areas */

.alig-areas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.questionArea {
    /* overflow-y: scroll; */
    height: 15vh;
    background-color: #F0F0F0;
    color:  rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    padding: 8px 8px 8px 8px;
    /* border-style: solid;
    border-color: black; */
    border-radius: 20px;
    /* position: absolute; */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.questionArea:hover {
    cursor:pointer;
}

.comentArea {
    width: 100%;
    height: 40vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    resize: none;
    
}

.sourceArea {
    width: 90%;
    height: 5vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    resize: none;
    
}
  
.justificationArea {
    /* margin-top: 12vh; */
    width: 90%;
    height: 20vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    
    resize: none;
}


/* animation */

.classname {

    overflow-y: scroll;
    height: 12vh;
    background-color: #F0F0F0;
    color:  rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    padding: 8px 8px 8px 8px;
    /* border-style: solid;
    border-color: black; */
    border-radius: 20px;
    /* position: absolute; */
    position: relative;
    
    animation-name: negative;
    animation-duration: 2s;
    

}


@keyframes negative-neutral {
    100% {transform: translate(9%, 0%);}
}

@keyframes positive-neutral {
    100% {transform: translate(-9%, 0%);}
}


@keyframes negative {
    from {
        transform: translate(-9%,0%);
      }
    
      to {
        transform: translate(9%,0%);
      }
}

@keyframes positive {
    from {
        transform: translate(9%,0%);
      }
    
      to {
        transform: translate(-9%,0%);
      }
}
