.question-container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
}

.full-question-area{

    max-height: 100%;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    color:  rgb(0, 0, 0);
    text-align: center;
    width: 60vw;
    /* padding: 8px 8px 8px 8px; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    /* position: absolute; */
    z-index: 1;
    
}

/* buttons */

/* .negative-container{

    margin-right: 0;
    margin-left:auto;
    z-index: 0;
    position: absolute;

} */
.negative-btn {
    background-color: red;
    color: white;
    font-size: xx-large;
    height: 12vh;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 0px;
    text-align: left;
    position: absolute;
    /* left: 0px; */
}

/* .positive-container{

    margin-right: 0;
    z-index: 0;
    position: absolute;

} */
.positive-btn {

    background-color: greenyellow;
    color: white;
    font-size: xx-large;
    height: 12vh;
    width: 50%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-width: 0px;
    text-align: right;
    z-index: 0;
    position: absolute;
    right: 0;
    
    /* right: 0px; */

}

/* containers */

.source-container{
    background-color: rgb(224, 224, 224);
    width: 100%;
    /* border: 3px solid; */
    /* border-radius: 10px; */
    /* border-color: rgb(56, 57, 58);
    margin: 0px; */
    
}

/* .source-container .titulo {
    text-align: left;
    margin-left: 50px;
    
} */

.justification-container{
    background-color: rgb(224, 224, 224);
    width: 100%;
    /* border: 3px solid; */
    /* border-radius: 10px; */
    /* border-color: rgb(56, 57, 58);
    margin: 0px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.text-and-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

/* areas */

.alig-areas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.questionArea {
    overflow-y: scroll;
    height: 12vh;
    background-color: rgb(224, 224, 224);
    color:  rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    padding: 8px 8px 8px 8px;
    /* border-style: solid;
    border-color: black; */
    border-radius: 10px;
    /* position: absolute; */
    
}

.comentArea {
    width: 100%;
    height: 40vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    resize: none;
    
}

.sourceArea {
    width: 90%;
    height: 5vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    resize: none;
    
}
  
.justificationArea {
    /* margin-top: 12vh; */
    width: 90%;
    height: 20vh;
    border: 3px solid;
    border-radius: 10px;
    border-color: rgb(56, 57, 58);
    
    resize: none;
}

