@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.col-ranking{
    position: absolute;
    left: 45px;
    top: 100%;

    font-size: 24px;
    font-family: 'Inter', cursive;
    font-weight: bold;
}

#ranking{
    position: absolute;
    width: 294px;
    height: 560px;
    left: 35px;
    top: 685px;
    bottom: 100px;
    border-radius: 10px;

    background: #E7E7E7;
}

.top-number::before{
    counter-increment: section;
    content: counters(section,".") " ";
    left: 15px;
    top: 14px;
    width: 53px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: -2px;
    color: #1BB55C;
    text-align: center;
}

#ranking ol{
    display: block;
    list-style: none;
    margin: auto 0;
    counter-reset: section;
    list-style-type: none;
}

#ranking ol li{
    position: relative;
    left: 0px;
    margin: 0 9px 0 0;
}

#ranking ol li a{
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: #263238;
    font-size: 17px;
    border-radius: 8px;
}

.company-gp1{
    position: relative;
    left: 52px;
    bottom: 44px;
}

#stamps-box{
    position: absolute;
    width: 232px;
    height: 270px;
    left: 1118px;
    top: 338px;
    border-radius: 8px;

    background: #F5F5F5;
}

.stamp{
    width: 150px;
    margin-left: 12%;
}

.col-access{
    position: absolute;
    left: 500px;
    top: 100%;

    font-size: 24px;
    font-family: 'Inter', cursive;
    font-weight: bold;
}

.comp-icon{
    width: 57px;
    height: 57px;
    left: 500px;
    border-radius: 28px 28px 28px 4px;
    display: block;
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    background: #e0e0e0;
    position: relative;
}

.comp-icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    overflow: hidden;
    border: 0;
}

.company-gp2{
    position: absolute;
    left: 600px;
    top: 35px;
    bottom: 44px;
}

#access ol{
    display: block;
    list-style: none;
    margin: auto 0;
    list-style-type: none;
}

#access ol li{
    position: relative;
    left: 0px;
    bottom: 25px;
    margin: 0 9px 0 0;
}

#access ol li a{
    position: relative;
    top: 50px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: #263238;
    font-size: 17px;
    border-radius: 8px;
}

.comp-icon2{
    width: 57px;
    height: 57px;
    left: 500px;
    border-radius: 28px 28px 28px 4px;
    display: block;
    font-size: 0;
    overflow: hidden;
    cursor: pointer;
    background: #e0e0e0;
    position: relative;
}

.comp-icon2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    overflow: hidden;
    border: 0;
}

.company-gp2-1{
    position: absolute;
    left: 600px;
    top: 35px;
    bottom: 44px;
}

#access2 ol{
    display: block;
    height: 10px;
    width: 40px;
    list-style: none;
    margin: auto 0;
    list-style-type: none;
}

#access2 ol li{
    position: relative;
    left: 400px;
    bottom: 570px;
    margin: 0 9px 0 0;
}

#access2 ol li a{
    position: relative;
    top: 50px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 5px 10px;
    color: #263238;
    font-size: 17px;
    border-radius: 8px;
}