header{
    background-color: var(--company-header-color);
}

.company-header-container{
    padding: 5px 0px 5px 30px;
    display:flex;
    align-items: center;
    background-color: var(--company-header-color);
    width: 100%;
    /*position: fixed;*/
}
/***********************LOGO & SEARCH BOX***********************/
.company-header-container .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-header-container .logo .logo-name{
    display: flex;
    color: var(--company-text-color);
    text-align: center;
    font-size: 1.5em;
    margin-top: 8px;
    font-weight: bold;
    gap: 4px;
}

.company-header-container .logo .logo-name div{
    color: var(--company-buttons-color);    
}

.company-header-container .logo .logo-img{
    width: 50px;
    height: 50px;
}

.company-header-container .search-box{
    margin-left: 10%;
    width: 80%;
    height: 2.2em;
    background: #FBFBFB;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 20px;
}

/************************HAMBURGER MENU*************************/
.company-header-container .icon{
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 4;
    right: 30px;
    cursor:pointer;
    vertical-align: center;
}

.company-header-container .icon.icon-active{
    position:absolute;
}

.company-header-container .icon.icon-active .hamburger{
    background:transparent;
}

.company-header-container .icon.icon-active .hamburger::before{
    top: 0;
    background: #fff;
    transform: rotate(135deg);
}

.company-header-container .icon.icon-active .hamburger::after{
    top: 0;
    background: #fff;
    transform: rotate(225deg);
}


.company-header-container .hamburger{
    position: absolute;
    top: 40%;
    width: 32px;
    height: 5px;
    background-color: var(--company-text-color);
    border-radius: 25px;
    transition: 0.3s;

}

.company-header-container .hamburger::before{
    top: -10px;
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    border-radius: 25px;
    background: var(--company-text-color);
    transition: 0.3s;
}

.company-header-container .hamburger::after{
    top: 10px;
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    border-radius: 25px;
    background: var(--company-text-color);
    transition: 0.3s;
}

.company-header-container .menu.menu-open{
    background-color: var(--company-text-color);
    box-sizing: border-box;
    position: absolute;
    top:0;
    right: 0;
    width: 320px;
    height: 100vh;
    opacity: 0.985;
    height: 100vh;
    min-height: 650px;
    transition: opacity 0.2s ease-out;
    z-index: 1;
}

.company-header-container .menu.menu-close{
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.company-header-container .company-logged-in{
    padding: 30px 20px;
    margin: 55px 10px 30px 10px;
    width: 300px;
    border-radius: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction:row;
    gap: 20px;
}

.company-header-container .company-logged-in::after{
    top: 210px;
    left: 6.2%;
    content: '';
    position: absolute;
    width: 280px;
    height: 2px;
    border-radius: 25px;
    background: #fff;
}

.company-header-container .company-img{
    width: 75px;
    height: 75px;
    border-radius: 50px;
}

.company-header-container .company-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.company-header-container .company-name{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
}

.company-header-container .company-category, .company-position{
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
    color: #c7c7c7;
}

.company-header-container .menu-buttons{
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}

.company-header-container .menu-buttons ul{
    padding: 0;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.company-header-container .menu-buttons .btn{
    color: white;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    position: relative;
    width: 280px;
    height: 4em;
    line-height: 3.3em;
    text-align: center;
    border-radius: 0px;
    margin-top: 0px;
    transition:  0.2s background-color ease-in-out ;
}

.company-header-container .menu-buttons .btn:hover{
    background-color: #FBFBFB;
    color:#373a47;
}

.company-header-container .menu-buttons .btn.exit{
    margin-top: 40px;
    background-color: #dd3535;
    border: 0px;
}

.company-header-container .menu-buttons .btn.exit:hover{
    background-color: rgb(165, 43, 43);
    color: #fff;
}

.company-header-container .menu-buttons .btn.exit::before{
    top: -25px;
    left: 0;
    content: '';
    position: absolute;
    width: 280px;
    height: 2px;
    border-radius: 25px;
    background: #fff;
}

@media screen and (max-width:750px) {
    .company-header-container .search-box{
        margin-left: 3%;
        width: 180%;
        height: 2.2em;
    }

    .company-header-container .logo .logo-name > div{
        display:none;
    }
}

@media screen and (max-width:500px) {
    .company-header-container .search-box{
        margin-left: 5%;
    }

    .company-header-container .logo .logo-name{
        display:none;
    }

    .company-header-container .menu.menu-open{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .company-header-container .company-logged-in{
        width: 100%;
        display: flex;
        justify-content: center;
        gap:25px
    }
    
    .company-header-container .company-logged-in::after{
        width: 87%;
    }

    .company-header-container .company-img{
        width: 90px;
        height: 90px;
        border-radius: 50px;
    }
    
    .company-header-container .company-name{
        font-size: 1.4em;
    }
    
    .company-header-container .company-category, .company-position{
        font-size: 1em;
    }

    .company-header-container .menu-buttons{
        width: 100%;
    }

    .company-header-container .menu-buttons .btn{
        width: 100%;
    }

    .company-header-container .menu-buttons .btn.exit{
        margin-top: 40px;
        background-color: #dd3535;
        border: 0px;
    }

    .company-header-container .menu-buttons .btn.exit::before{
        width: 100%;
    }

}