header{
    background-color: var(--company-header-color);
}

.company-header-container{
    margin: 0px 30px 0px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--company-header-color);
}
/***********************LOGO & SEARCH BOX***********************/
.company-header-container .logo{
    display: flex;
    gap: 10px;
    align-items: center;
}

.company-header-container .logo .logo-name{
    display: flex;
    color: var(--company-text-color);
    text-align: center;
    font-size: 1.5em;
    margin-top: 8px;
    font-weight: bold;
    gap: 4px;
}

.company-header-container .logo .logo-name div{
    color: var(--company-buttons-color);    
}

.company-header-container .logo .logo-img{
    width: 50px;
    height: 50px;
}

.company-header-container .search-box{
    position: absolute;
    left: 30%;
    width: 50%;
    height: 2.2em;
    background: #FBFBFB;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 20px;

}
/************************HAMBURGER MENU*************************/
.company-header-container .icon{
    width: 32px;
    height: 40px;
    position: absolute;
    z-index: 4;
    right: 2%;
    cursor:pointer;
    vertical-align: center;
}

.company-header-container .icon.icon-active{
    position:fixed;
}

.company-header-container .icon.icon-active .hamburger{
    background:transparent;
}

.company-header-container .icon.icon-active .hamburger::before{
    top: 0;
    background: #fff;
    transform: rotate(135deg);
}

.company-header-container .icon.icon-active .hamburger::after{
    top: 0;
    background: #fff;
    transform: rotate(225deg);
}


.company-header-container .hamburger{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 32px;
    height: 5px;
    background-color: var(--company-text-color);
    position: absolute;
    border-radius: 25px;
    transition: 0.3s;

}

.company-header-container .hamburger::before{
    top: -10px;
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    border-radius: 25px;
    background: var(--company-text-color);
    transition: 0.3s;
}

.company-header-container .hamburger::after{
    top: 10px;
    content: '';
    position: absolute;
    width: 32px;
    height: 5px;
    border-radius: 25px;
    background: var(--company-text-color);
    transition: 0.3s;
}

.company-header-container .menu.menu-open{
    background-color: #373a47;
    position: fixed;
    top:0;
    right: 0;
    width: 20%;
    height: 100vh;
    margin: 0;
    padding: 20px 16px 0px 0px;
    opacity: 1;
    height: 100vh;
    transition: opacity 0.2s ease-out;
    z-index: 1;
}

.company-header-container .menu.menu-close{
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.company-header-container .company-logged-in{
    width: 92%;
    margin: 40px 0px 0px 20.7px;
    display: flex;
    box-sizing: border-box;
    flex-direction:row;
    gap: 20px;
    padding-bottom: 50px;
    border-bottom: 1.2px solid #fff;
}

.company-header-container .company-img{
    width: 75px;
    border-radius: 50px;
}

.company-header-container .company-info{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.company-header-container .company-name{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
    color: #fff;
}

.company-header-container .company-category, .company-position{
    font-weight: 600;
    font-size: 0.9em;
    margin: 0;
    color: #fff;
}

.company-header-container .menu-buttons{
    display:flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.company-header-container .menu-buttons ul{
    padding: 0;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.company-header-container .menu-buttons .btn{
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1.2px solid #fff;
    box-sizing: border-box;
    position: fixed;
    width: 17.4%;
    height: 5.1em;
    line-height: 4.3em;
    text-align: center;
    border-radius: 0px;
    margin-top: 0px;
    transition:  0.2s background-color ease-in-out ;

}

.company-header-container .menu-buttons .btn:hover{
    background-color: #FBFBFB;
    color:#373a47;
}
